Требование ТАCNW_1-Ч02.02.5-01: Резервирование сетевых компонентов модуля в рамках одного Центра обмена данными (ЦОД) для обеспечения устойчивости к отказам в сети без перерыва бизнес-сервисов ДЗО - 2N, в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 2. Требования к инфраструктуре сетей передачи данных.
Требование ТАCNW_1-Ч02.02.8-02: компоненты оборудования модуля должны быть зарезервированы в РЦОД/РЦОД-ах, чтобы обеспечить 100% производительности модуля при отказе основного ЦОД., согласно Сборнику архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 2. Требования к инфраструктуре сетей передачи данных.
Требование ТАCNW_1-Ч02.02.9-01: Разграничение сетевых сегментов в ЦОД средствами межсетевого экранирования, согласно Сборнику архитектурных стандартов ДЗО и ДБ, Версия 3.1, Часть 2, Требования к инфраструктуре сетей передачи данных.
Требование ТАCNW_1-Ч02.03.1-01: в соответствии с Сборником архитектурных стандартов ДЗО и ДБ, часть 2, версия 3.1, модуль должен обеспечивать подключения к внешним сетям и узлам интернет, состоящий из граничных маршрутизаторов, периметровых МСЭ и оптимизаторов трафика (опционально).
Требование ТАCNW_1-Ч02.03.4-01: Резервирование сетевого оборудования - минимум N+1, в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 2. Требования к инфраструктуре сетей передачи данных.
Требование ТАCNW_1-Ч02.03.8-01: Использование не менее двух независимых интернет провайдеров (ISP) в соответствии с Сборником архитектурных стандартов ДЗО и ДБ, часть 2, требования к инфраструктуре сетей передачи данных, версия 3.1.
Требование ТАCNW_1-Ч02.03.10-01: Обеспечивать контроль доступа внешних пользователей и подключений из внешних сетей, в том числе сети интернет, к опубликованным вовне ресурсам, размещенным в сегменте DMZ, в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 2. Требования к инфраструктуре сетей передачи данных.
Требование ТАCNW_1-Ч02.03.11-01: Обеспечивать защиту ресурсов сети DMZ, в том числе от DDoS атак, в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 2. Требования к инфраструктуре сетей передачи данных.
Требование ТАCNW_1-Ч02.03.13-01: Обеспечить защиту удаленного доступа пользователей к информационным ресурсам ДЗО с использованием средств криптографической защиты информации (remote access VPN) в соответствии с Сборником архитектурных стандартов ДЗО и ДБ, часть 2, версия 3.1, требования к инфраструктуре сетей передачи данных.
Требование ТАCNW_1-Ч02.04.3-01: Резервирование сетевого оборудования - минимум N+1, в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 2. Требования к инфраструктуре сетей передачи данных.
Требование ТАCNW_1-Ч02.04.8-01: компоненты оборудования модуля должны быть зарезервированы в РЦОД/РЦОД-ах, чтобы обеспечить 100% производительности модуля при отказе основного ЦОД., согласно Сборнику архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 2. Требования к инфраструктуре сетей передачи данных.
Требование ТАCNW_1-Ч02.04.6-01: Обеспечить защиту каналов связи с использованием средств криптографической защиты информации (Site-to-Site VPN) в соответствии с Сборником архитектурных стандартов ДЗО и ДБ, Версия 3.1, Часть 2, Требования к инфраструктуре сетей передачи данных.
Требование ТАCNW_1-Ч02.05.14-01: Сетевой доступ пользователей из локальной вычислительной сети Кампус к информационным ресурсам ДЗО должен разграничиваться средствами межсетевого экрана, включая функционал Identity Firewall, для интеграции с службой каталогов и ограничения доступа на основе принадлежности пользователей доменным группам в соответствии с архитектурными стандартами ДЗО и ДБ, часть 2, версия 3.1.
Требование TACNW_1-L-4-01: "Объекты типа презентационный слой размещаются в соответствии со следующими требованиями: при наличии взаимодействия с объектами или пользователями во внешних сетях (сеть Интернет, внешние организации по выделенным каналам связи) - только в буферном сегменте DMZ (буферных сегментах сетей внешнего периметра). При наличии взаимодействий с объектами или пользователями только в рамках одного сегмента (обработки данных) - в соответствующем сегменте обработки данных".
Требование TACNW_1-L-6-01: Объекты бизнес-логики и основного хранилища данных, обрабатывающие конфиденциальные данные, должны размещаться в соответствии с следующими требованиями: хранение данных в незашифрованном виде - только в сегменте обработки данных внутренней (физически не возможно попасть в интернет) сети ДЗО/ДБ, а также в сегментах обработки данных облачных инфраструктур (Sbercloud, публичные облака) при условии полного обеспечения требований регуляторов к защите конфиденциальной информации.
Требование TACIR_1-Ч03.02.15-01: В пределах одной зоны доступности должно быть обеспечено резервирование КТС в соответствии с уровнями, указанными в Приложении 1, в рамках стандарта "Сборник архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 3. Требования к инфраструктуре вычислительных систем.".
Требование TACIR_1-Ч03.02.18.1-03: Резервирование КТС (компьютерных терминалов и станций) в различных зонах доступности должно быть обеспечено на уровне, указанном в Приложении 2, в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 3. Требования к инфраструктуре вычислительных систем.
Требование TACIR_1-Ч03.03.22-02: Поддержка решения, обеспечивающего катастрофоустойчивость вычислительных систем в соответствии с уровнями указанными в Приложении 2, включая дублирование КТС виртуализации в резервной зоне/зонах доступности и репликацию данных на резервный КТС. (Стандарт: Сборник архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 3. Требования к инфраструктуре вычислительных систем.)
Требование TACIR_1-КП-КО-3-01: в резервных зонах доступности кластер/кластеры платформы контейнерной оркестрации должны обеспечивать 100% производительности при потере основной зоны, в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 3. Требования к инфраструктуре вычислительных систем.
Требование TACIR_2-Ч04.01.15-02: Системы хранения данных (СХД) должны быть зарезервированы в разных зонах доступности для обеспечения 100% производительности и емкости дискового пространства, а также защиты от потери данных с необходимым уровнем RPO, в соответствии с сборником архитектурных стандартов ДЗО и ДБ, часть 4, версия 3.1.
Требование TACIR_2-Ч04.02.3-03: в соответствии с Сборником архитектурных стандартов ДЗО и ДБ, часть 4, версия 3.1, политики резервного копирования должны обеспечивать репликацию/перемещение резервных копий в другую зону доступности, другую ЦОД или на внешнее объектное хранилище по протоколу S3.
Требование TACAP_2-07.ПА-4-03 к архитектуре приложений и интеграции в соответствии с Сборником архитектурных стандартов ДЗО и ДБ, версия 3.1, часть 7: настройка системы должна быть выполнена путем изменения конфигурационных параметров без изменения основной кодовой базы, запрещается использование хардкода конфигурационных параметров, приводящего к повторной сборке и разворачиванию системы, а также реализация возможности отключения настройками механизмов аутентификации, авторизации и аудита.
Требование TACAP_2-Ч07.ПА-5-03: Должна быть обеспечена возможность горизонтального (scale-out) масштабирования решений/компонентов решения в соответствии с Сборником архитектурных стандартов ДЗО и ДБ, часть 7, требования к Архитектуре Приложений и Интеграции.
Требование TACAP_2-Ч07.ПА-6-03: Решение должно быть как минимум cloud-ready в терминах Части 8 настоящего Сборника архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 7. Требования к Архитектуре Приложений и Интеграции.
Требование TACAP_2-Ч07.ПА-10-03: В целях импортозамещения, решение должно отвечать как минимум одному критерию из списка: реализовано на стеке технологий Open Source и позволяя свободное использование и/или модификацию в коммерческих целях компании; включено в реестр решений, рекомендованных регулятором страны регистрации ДЗО/ДБ; разработано и поддерживаться юридическими лицами страны регистрации ДЗО/ДБ; произведено условное депонирование программного обеспечения решения.
Требование TACAP_2-Ч07.ПА-13-03 в рамках стандарта "Сборник архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 7. Требования к Архитектуре Приложений и Интеграции." требует, чтобы решение имело механизмы обработки ошибок, позволяющие предоставлять пользователям и администраторам информацию об ошибках, достаточную для идентификации и разрешения возникших проблем.
Требование TACAP_2-Ч07.ПА-14.1-03: Необходима функциональность журналирования событий аудита в системе, локально или в централизованном хранилище событий аудита. Срок хранения журналов должен определяться внутренними нормативными документами ДЗО/ДБ и требованиями регуляторов, в соответствии с архитектурными стандартами ДЗО и ДБ, часть 7, версия 3.1.
Требование TACAP_2-Ч07.ПА-14.2-03: Информация в журнале аудита должна представляться в структурированном виде в терминах прикладной области. Содержимое, объем и полноту данных в журнале аудита определяет подразделение ДЗО/ДБ, исполняющее функции кибербезопасности, в соответствии с архитектурными стандартами ДЗО и ДБ, часть 7, версия 3.1.
Требование TACAP_2-Ч07.ПА-15.1-03: Необходимо обеспечить возможность мониторинга решения стандартными средствами мониторинга компании, чтобы получать информацию о работоспособности и доступности системы в объеме, достаточном для выявления и устранения нарушений в работе системы и ее компонентов в соответствии с требованиями Части 6 Сборника архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 7. Требования к Архитектуре Приложений и Интеграции.
Требование TACAP_2-Ч07.ПА-16-03: Решение, накапливающее данные, должно иметь механизмы регулярной очистки или вытеснения оперативных данных в архив. При необходимости, решение должно поддерживать работу с архивными данными, в соответствии с Сборником архитектурных стандартов ДЗО и ДБ, часть 7, версия 3.1.
Требование TACAP_2-Ч07.ПА-12.1-03: Система должна иметь назначенный класс критичности согласно методике Группы, в соответствии с архитектурными стандартами ДЗО и ДБ, часть 7, версия 3.1.
Требование TACAP_2-Ч07.ПА-19-03 к архитектуре приложений и интеграции в рамках стандарта "Сборник архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 7" гласит: для обеспечения требований катастрофоустойчивости, Архитектура Приложений (АС) должна иметь резервную копию в резервном Центре Обработки данных (ЦОД) с определенным временем восстановления (RTO) и уровнем приостановки работы (RPO). Уровни резервирования оборудования и данных для АС должны соответствовать следующим параметрам: уровень резервирования серверного оборудования - 100% для МС, BC и BO, а также ≤ 100% для OP; уровень резервирования данных - 100% реплика для MC, BC и BO, а также ≤ 100%, с восстановлением из бэкапа и/или загрузкой из систем-источников для OP. Требования по методу переключения: автоматическое для MC, BC и BO, а также автоматическое/ручное для OP.
Требование TACAP_2-Ч07.ОКБ-1-03: Привилегированный доступ к компонентам системы должен обеспечиваться посредством системы контроля привилегированного доступа (PAM), удовлетворяющей требованию TACAP_2-Ч07.ПА-10-03, в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 7. Требования к Архитектуре Приложений и Интеграции.
Требование TACAP_2-07.ОКБ-2-03: Внешние сервисы ДЗО/ДБ должны размещаться в соответствии с принципом: публичная точка доступа к сервису, реализующая механизм вызова сервиса, должна быть расположена в внешнем сегменте сети (DMZ), а основная компонента системы, выполняющая бизнес-логику сервиса, должна быть размещена в защищенном внутреннем сегменте сети. (Сборник архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 7. Требования к Архитектуре Приложений и Интеграции.)
Требование TACAP_2-Ч07.ОКБ-4-03: Исходящий внешний сетевой трафик системы, хранящей и/или обрабатывающей конфиденциальные данные, должен анализироваться системой предотвращения утечек конфиденциальной информации. Список автоматизированных систем и потоков, подлежащих контролю со стороны системы предотвращения утечек конфиденциальной информации, определяется подразделением компании, выполняющим функции кибербезопасности. Разрешено использовать только системы предотвращения утечек конфиденциальной информации, удовлетворяющие требованию TACAP_2-Ч07.ПА-10-03 в рамках стандарта "Сборник архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 7. Требования к Архитектуре Приложений и Интеграции.".
Требование TACAP_2-Ч07.ОКБ-5.1-03: при взаимодействии с информационными системами ДЗО/ДБ из сети Интернет или иных внешних сетей, необходимо обеспечить шифрование канала связи (например, с использованием протокола TLS v1.2 или выше) согласно требованиям подразделения ДЗО/ДБ, ответственного за кибербезопасность, в соответствии с Сборником архитектурных стандартов ДЗО и ДБ, часть 7, версия 3.1.
Требование TACAP_2-Ч07.ОКБ-5.2-03: при передаче конфиденциальной информации между автоматизированными системами, включая все промежуточные интеграционные компоненты, должны использоваться средства криптографической защиты для шифрования конфиденциальной информации. Правила шифрования конфиденциальной информации при передаче между автоматизированными системами определяются подразделением компании, выполняющим функции кибербезопасности, в соответствии с архитектурными стандартами ДЗО и ДБ, часть 7, версия 3.1.
Требование TACAP_2-Ч07.ОКБ-5.3-03: Доступ к внутренним электронным ресурсам ДЗО/ДБ из сети Интернет или иных внешних сетей должен быть ограничен посредством организации подключения через специализированный VPN-шлюз во внешнем сегменте (DMZ) сети компании, в соответствии с архитектурными стандартами ДЗО и ДБ, часть 7, версия 3.1.
Требование TACAP_2-Ч07.ОКБ-5.4-03: при подключении к виртуальной частной сети (VPN) необходимо использовать либо двухфакторную аутентификацию, либо TLS-сертификат. Приоритетным является использование двухфакторной аутентификации. - Сборник архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 7. Требования к Архитектуре Приложений и Интеграции.
Требование TACAP_2-Ч07.ОКБ-6-03 в рамках стандарта "Сборник архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 7. Требования к Архитектуре Приложений и Интеграции." требует обеспечить разграничение доступа пользователей к автоматизированной системе на уровне операций и на уровне данных посредством механизма ролей, что является критически важным требованием для обеспечения безопасности и целостности системы.
Требование TACAP_2-Ч07.ОКБ-7.1-03: в соответствии с Сборником архитектурных стандартов ДЗО и ДБ, Версия 3.1, Часть 7, Требования к Архитектуре Приложений и Интеграции, автоматизированная система должна обеспечивать протоколирование событий безопасности и действий пользователей. Содержимое, объем, полнота и место хранения данных для протоколирования определяется подразделением ДЗО/ДБ, исполняющим функции кибербезопасности.
Требование TACAP_2-Ч07.ОКБ-7.2-03: Конфиденциальная информация, содержащаяся в логах, должна быть маскированной или защищенной в соответствии с требованиями подразделения ДЗО/ДБ, ответственного за кибербезопасность, в рамках стандарта "Сборник архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 7. Требования к Архитектуре Приложений и Интеграции.".
Требование TACAP_2-Ч07.ОКБ-12.2-03: Запрещен доступ из тестовых сред к необезличенным конфиденциальным данным, выгруженным из промышленного контура в соответствии с Сборником архитектурных стандартов ДЗО и ДБ, часть 7, требования к Архитектуре Приложений и Интеграции.
Требование TACAP_2-Ч07.ОКБ-13-03: в соответствии с Сборником архитектурных стандартов ДЗО и ДБ, часть 7, требования к Архитектуре Приложений и Интеграции, запрещается хранение конфиденциальных данных во внешнем сегменте (DMZ) корпоративной сети.
Требование TACAP_2-Ч07.ОКБ-14-03: в соответствии с Сборником архитектурных стандартов ДЗО и ДБ, часть 7, требования к Архитектуре Приложений и Интеграции, запрещается передача конфиденциальных данных во внешнем сегменте (DMZ) корпоративной сети в незашифрованном виде.
Требование TACAP_2-Ч07.ОКБ-17-03: в промышленной среде запрещается использование самоподписанных сертификатов, разрешается использовать только сертификаты, выданные удостоверяющими центрами страны регистрации компании или одобренными подразделением, выполняющим функции кибербезопасности в компании.
Требование TACAP_2-Ч07.ОКБ-20-03: в случае собственной разработки системы, репозитории хранения исходного кода и библиотек должны быть одобрены к использованию подразделением ДЗО/ДБ, исполняющим функции кибербезопасности, в соответствии с архитектурными стандартами ДЗО и ДБ, часть 7, версия 3.1.
Требование TACAP_2-Ч07.ОКБ-21-03: в соответствии с Сборником архитектурных стандартов ДЗО и ДБ, часть 7, требования к Архитектуре Приложений и Интеграции, компоненты системы должны проходить контроль безопасности и проверку на отсутствие известных уязвимостей по реестрам уязвимостей. Список компонентов и реестры уязвимостей для проверки определяются подразделением компании, исполняющим функции кибербезопасности.
Требование TACCN-STD-CN-NA-2.15-02: для каждого контейнера должна быть реализована функция мониторинга, за исключением сайдкаров из утвержденного списка. В случае использования pull мониторинга метрики должны экспортироваться в выделенный endpoint в формате Prometheus exposition format или Open Metrics. (Стандарт: Сборник архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 8. Стандарт Cloud Native для ДЗО и ДБ.)
Требование TACCN-STD-CN-NI-1.1-02: при размещении приложения внутри проекта должна быть реализована модель безопасности "нулевого доверия" (zero trust). При обработке в проекте информации категории К1/К2 конфиденциальной информации все взаимодействия внутри проекта должны осуществляться с использованием TLS 1.2+ (шифрование) в соответствии с стандартом Сборник архитектурных стандартов ДЗО и ДБ, Версия 3.1, Часть 8, Стандарт Cloud Native для ДЗО и ДБ.
Требование TACCN-STD-CN-КБ-1-02: в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 8. Стандарт Cloud Native для ДЗО и ДБ., запрещается разворачивать приложения вне управляемой Среды исполнения, а также использовать средства контейнеризации вне среды исполнения.
Требование TACCN-STD-CN-КБ-03: Запрещается использовать приложения, требующие для своего функционирования привилегированной доступа на уровне узла кластера, среды исполнения или к средствам управления средой исполнения. - это критическое требование стандарта Cloud Native для ДЗО и ДБ, описанное в сборнике архитектурных стандартов ДЗО и ДБ, версия 3.1, часть 8.
Требование TACCN-STD-CN-КБ-04-02: Образы контейнеров приложений должны быть получены из утвержденного в ДЗО/ДБ централизованного репозитория образов контейнеров, в соответствии с стандартом Cloud Native для ДЗО и ДБ, часть 8 Сборника архитектурных стандартов ДЗО и ДБ, версия 3.1.
Требование TACCN-STD-CN-КБ-5-02: для хранения ключей, сертификатов, паролей, токенов, необходимых для работы контейнеров Приложения, должны использоваться объекты среды исполнения типа "secrets" или использовать секрет-менеджер. Объекты типа "secrets" должны поставляться в приложение с помощью средств среды исполнения, в соответствии со стандартом Сборник архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 8. Стандарт Cloud Native для ДЗО и ДБ.
Требование TACCN-STD-CN-КБ-7-02: в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 8. Стандарт Cloud Native для ДЗО и ДБ., запрещается прямое взаимодействие подов двух различных проектов. Взаимодействия между проектами должны проходить только через ingress/egress proxy, что обеспечивает безопасность и масштабируемость приложений.
Требование TACCN-STD-CN-КБ-8-03: все входящие запросы в проект должны проходить через ingress-proxy, а все исходящие запросы из проекта - через egress-proxy. При этом для входящих и исходящих взаимодействий должен использоваться мTLS 1.2+.
Требование TACCN-STD-CN-КБ-9-03: В соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 8. Стандарт Cloud Native для ДЗО и ДБ., ингресс/эгресс-прокси должен быть размещен внутри проекта.
Требование TACCN-STD-CN-КБ-12-03: для всех входящих и исходящих взаимодействий проекта (неймспейса) должны быть реализованы механизмы аутентификации и авторизации, как для входящих, так и для исходящих запросов. При этом в подах ingress/egress proxy должен быть исключен прикладной функционал, в соответствии с стандартом Сборник архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 8. Стандарт Cloud Native для ДЗО и ДБ.
Требование STD-CN-КБ-10: в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 8. Стандарт Cloud Native для ДЗО и ДБ., запрещается запускать приложения, требующие изменения или удаления объектов NetworkPolicy, создаваемых по умолчанию.
Требование STD-CN-КБ-11: запрещается запускать приложения, требующие использования сетевых интерфейсов и сетевых портов операционной системы узла кластера, в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 8. Стандарт Cloud Native для ДЗО и ДБ.
Требование TACCN-STD-CN-SI-9-02: Необходимо использовать операционную систему контейнеров из собственного реестра ДЗО/ДБ или из реестра, согласованного с подразделением кибербезопасности ДЗО/ДБ.
Требование TACRB_1-RSRV-01: в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 9. Стандарт надёжности АС ДЗО и ДБ, минимальная кратность георезервирования ТК (серверов, данных) АС должна быть равна m=1 (100%) с автоматическим переключением на резерв.
Требование TACRB_1-COMN-04: при наличии stateful-компонентов АС должна включать прикладное решение по обеспечению высокой доступности (HA/DR), реализованное на основе одного из архитектурных паттернов: Stand-In (SI), Active-Active, Parallel Run или разработанного собственного решения, в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 9. Стандарт надёжности АС ДЗО и ДБ.
Требование TACRB_1-PLTF-01: в соответствии с Сборником архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 9. Стандарт надёжности АС ДЗО и ДБ, Архитектура системы (АС) должна предусматривать встроенные и/или внешние механизмы ограничения потока входящих запросов с целью исключения ситуаций переполнения/конкуренции (режим работы под повышенной нагрузкой).
Требование TACRB_1-ОТ-R-1: Конфигурационные настройки автоматизированной системы (АС) должны храниться в персистентных технологических компонентах АС, согласно стандарту "Сборник архитектурных стандартов ДЗО и ДБ. Версия 3.1. Часть 9. Стандарт надёжности АС ДЗО и ДБ.".
